/*
 Theme Name:   Shopper Child
 Description:  Shopper Child Theme
 Author:       Nikola Pavlovic
 Template:     shopper
 Version:      1.0.0
*/

#primary{
    width: 100%!important;
    margin-top: 30px; 
}


/********************************************************
promotion tags above content
*/
.single-product .promo_above{margin: 20px 0;}
.single-product .promo_above span{
    display: inline-block;
    margin: 5px 0;
}
.single-product .promo_percent{
    color: green;
    background-color: rgba(0, 128, 0, 0.308);
    padding: 5px 10px;
    white-space: nowrap;
}
.single-product .promo_potraznja{
    font-size: small;
    padding: 5px 10px;
    background-color: green;
    color: white;border-radius: 10px;
}
.single-product .promo_percent i{
    font-size: 20px;
    margin: 0 5px;
}


/********************************************************
total price tag
*/
.single-product .price ins{
    color: red;
    font-size: larger;
}
.single-product .shipping_cost{
    color: red;
}


/********************************************************
custom quantity table
*/
.single-product div.custom_quantity table{
    max-width: 450px;
}
.single-product div.custom_quantity table{
    border-collapse: separate;
    border-spacing: 10px 0;
    width: 100%;
}
.single-product div.custom_quantity th,
.single-product div.custom_quantity td{
    width: 30%;
    padding: 5px!important;
    text-align: center!important;
    vertical-align: middle!important;  
    background-color: unset;  
    user-select: none; 
}

.single-product div.custom_quantity td strong{font-size: larger;}
.single-product div.custom_quantity td span{font-size: large;}

.single-product div.custom_quantity .top-odabir{
    font-size: x-small;
    color: white;
    background-color: #ff6600;
}

.single-product div.custom_quantity td{border: 1px solid #ff6600;}
.single-product div.custom_quantity td:hover{cursor: pointer;}
.single-product div.custom_quantity td.active{
    border: 2px solid #ff6600;
    background-color: #ffad77;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}

/********************************************************
custom quantity submit
*/
.single-product .cart .quantity,
.single-product .price-rules-table-wrapper{
    display: none !important;
}
.single-product button.single_add_to_cart_button{
    font-size: large;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 450px;
    width: 100%;
    text-transform: unset!important;
}


/********************************************************
promotion tags below content
*/
.single-product .promo_below{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.single-product .promo_below div{
    border: 1px solid rgba(0, 128, 0, 0.534);
    text-align: center;
    margin: 5px;
    width: 25%;
    user-select: none; 
}
.single-product .promo_item i{
    font-size: 20px;
    margin: 0 5px;
    color: green;
}


/********************************************************
number of curent users tag
*/
.total_viewers{
    margin-top: -30px;
    color: red;
}